<template>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
    {{user.currency}}
</a>
<div class="dropdown-menu">
    <a class="dropdown-item" v-for="curr in currencies" v-bind:class="{active: curr == user.currency}"   :href="settings_url+'?currency='+curr">{{curr}}</a>
    <div class="dropdown-divider"></div>
    <a v-show="user.role == 'admin'" class="dropdown-item"  :href="settings_url"><strong>Settings</strong></a>
</div>

</li>

</template>

<script>
   
    export default {
      
        props: [ "settings_url"],
        data: function () {
            return {
                currencies:[
                    "EUR", "GBP", "USD"
                ],
                user:{},
            };
               
        },
        computed: {
        },
        mounted() {
            this.user = window.user;
            console.log("Component mounted.");
            
        }
    };
</script>