<template>

    <div class="mb-5">
        <div class="row">
          <div class="col-md-12 mb-3 text-right">
          <button type="button" @click="reset" class="btn btn-warning">Reset</button>
          <button v-show="show_download_button" type="button" @click="GenPDF" class="btn btn-danger ">Download as PDF</button>

          </div>
            <!-- <div class="col-md-12">
                <div class="card  mb-3">

                    <div class="card-header">Customer Info</div>
                    <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Customer Name</label>
                            <input type="text" required="required" autocomplete="false" :value="customer_name" name="customer_name" class="form-control">
                        </div>
                        <div class="form-group col-md-5">
                            <label>Address</label>
                            <input type="text" :value="customer_address" autocomplete="false" name="customer_address" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>City</label>
                            <input type="text" :value="customer_city"  name="customer_city" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>State</label>
                            <input type="text" :value="customer_state" name="customer_state" class="form-control">
                        </div>
                    </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row">
              <div id="app">
        
        <div  class="card item">

            <h4 class="card-title">Assumptions</h4>
               
            <table id="table1" class="table table-sm">
                <tbody>
                <tr><td>New Owner Salary</td><td>  <vue-numeric  class="form-control form-control-sm" v-model="O6" currency="$"></vue-numeric> </td></tr>
                <tr><td>Purchase Price</td><td>  <vue-numeric class="form-control form-control-sm" v-on:keyup.native="O14=O7*0.1"  v-model="O7" currency="$"></vue-numeric> </td></tr>
                <tr><td>Annual CapEx</td><td>  <vue-numeric class="form-control form-control-sm" v-model="O8" currency="$"></vue-numeric> </td></tr>
                <tr><td>FMV of Fixed Assets</td><td><vue-numeric class="form-control form-control-sm" v-model="O9" currency="$"></vue-numeric> </td></tr>
                <tr><td>RE Value</td><td>  <vue-numeric class="form-control form-control-sm" v-model="O10" currency="$"></vue-numeric> </td></tr>
                <tr><td>Goodwill</td><td><vue-numeric class="form-control form-control-sm" v-model="O11" currency="$"></vue-numeric> </td></tr>
                </tbody>
            </table>    

            <h4 class="card-title">Sources and Uses</h4>
            <table id="table2" class="table table-sm">
                <tbody>
                <tr><td>Equity</td><td><vue-numeric currency="$" v-model="O14" class="form-control form-control-sm"></vue-numeric> </td><td>Cash at Close</td><td><vue-numeric read-only class="form-control form-control-sm" :value="S14" currency="$"></vue-numeric></td></tr>
                <tr><td>Debt</td><td><vue-numeric  currency="$" read-only :value="O15" class="form-control form-control-sm"></vue-numeric> </td><td>Seller Note</td><td><vue-numeric class="form-control form-control-sm" read-only :value="S15" currency="$"></vue-numeric></td></tr>
                <tr><td>Seller Note</td><td><vue-numeric currency="$" v-model="O16" class="form-control form-control-sm"></vue-numeric> </td><td>Rollover Equity </td><td><vue-numeric class="form-control form-control-sm" read-only :value="S16" currency="$"></vue-numeric></td></tr>
                <tr><td>Rollover Equity</td><td><vue-numeric currency="$" v-model="O17" class="form-control form-control-sm"></vue-numeric> </td><td>Deal Fees</td><td><vue-numeric class="form-control form-control-sm" v-model="S17" currency="$"></vue-numeric></td></tr>
                </tbody>
            </table>

        <h4 class="card-title">Debt Assumptions</h4>
            <table id="table3" class="table table-sm">
                <thead>
                 
               
                <tr>
                    <th width="180px">Type</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Term</th>
                    <th>Payment</th>
                    <th>Interest</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SBA Term Loan </td>
                    <td>
                        <vue-numeric currency="$" v-model="XO21" v-on:keyup.native="XO21Change=true;" class="highlight form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric v-model="Q21" currency="%" currency-symbol-position="suffix" :precision="2" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only :value="R21" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="S21" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="T21" class="form-control form-control-sm"></vue-numeric>
                    </td>
                </tr>
                <tr>
                    <td>RE Loan </td>
                    <td>
                        <vue-numeric currency="$" v-model="XO22" v-on:keyup.native="XO22Change=true;"  class="highlight form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric v-model="Q22" currency="%" currency-symbol-position="suffix" :precision="2" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only :value="R22" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="S22" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="T22" class="form-control form-control-sm"></vue-numeric>
                    </td>
                </tr>
                <tr>
                    <td>Seller Note </td>
                    <td>
                        <vue-numeric currency="$" v-model="XO23" v-on:keyup.native="XO23Change=true;" class="highlight form-control form-control-sm highlight"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric v-model="Q23" currency="%" currency-symbol-position="suffix" :precision="2" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only :value="R23" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="S23" class="form-control form-control-sm"></vue-numeric>
                    </td>
                    <td>
                        <vue-numeric read-only currency="$" :value="T23" class="form-control form-control-sm"></vue-numeric>
                    </td>
                </tr>       
                </tbody>
                </table>
        </div>
        <!-- page 1 -->


         <div id="page-2" class="card item mt-2">
                <h4 class="card-title">SDE Calculation</h4>
                <div class="table-responsive">

                    <table id="table4" class="table table-sm table-special">
                        <thead>
                        <tr>
                            <th >Year</th><th>______</th><th><input type="number" v-model="start_year" class="form-control form-control-sm" style="max-width:100px;"/></th><th>{{parseInt(start_year)+1}}</th><th>{{parseInt(start_year)+2}}</th><th>{{parseInt(start_year)+3}}</th><th>{{parseInt(start_year)+4}}</th><th>{{parseInt(start_year)+5}}</th><th>{{parseInt(start_year)+6}}</th><th>{{parseInt(start_year)+7}}</th><th>{{parseInt(start_year)+8}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Revenue </td>
                            <td></td>
                            <td><vue-numeric v-model="C6" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="D6" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="E6" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="F6" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="G6" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="H6" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="I6" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="J6" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="K6" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Annual Growth Rate </td>
                            <td><vue-numeric class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" v-model="B7"></vue-numeric></td>
                            <td><vue-numeric :value="C7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="D7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="E7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="F7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="G7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="H7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="I7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="J7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                            <td><vue-numeric :value="K7" read-only class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>COGS </td>
                            <td></td>
                            <td><vue-numeric v-model="C9" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="D9" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="E9" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric v-model="F9" class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="G9" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="H9" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="I9" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="J9" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                            <td><vue-numeric :value="K9" read-only class="form-control-sm form-control" currency="$"></vue-numeric></td>
                        </tr>
                       
                        <tr>
                            <td>Gross Profit </td>
                            <td></td>
                            <td><vue-numeric :value="C11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="D11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="E11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="F11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K11" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Gross Margin</td>
                           <td><vue-numeric class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" v-model="B12"></vue-numeric></td>
                            <td><vue-numeric :value="C12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="D12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="E12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="F12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K12" read-only currency="%" currency-symbol-position="suffix" :precision="2" class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>SG&A </td>
                            <td></td>
                            <td><vue-numeric v-model="C14" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="D14" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="E14" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="F14" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G14" read-only currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H14" read-only currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I14" read-only currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J14" read-only currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K14" read-only currency="$" class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        
                        <tr>
                            <td>%</td>
                             <td><vue-numeric class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" v-model="B15"></vue-numeric></td>
                            <td><vue-numeric :value="C15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="D15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="E15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="F15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K15" read-only currency="%" :precision="2" currency-symbol-position="suffix" class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                       
                        <tr>
                            <td>Operating Income</td>
                            <td></td>
                            <td><vue-numeric :value="C17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="D17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="E17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="F17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K17" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Other Income (Expense)
                               </td>
                            <td></td>
                            <td><vue-numeric v-model="C19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="D19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="E19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="F19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="G19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="H19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="I19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="J19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="K19" :minus="true" currency="$" class="form-control-sm form-control"></vue-numeric></td>
                          
                        </tr>
                        <tr>
                            <td>SDE</td>
                                                        <td></td>
                            <td><vue-numeric :value="C21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="D21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="E21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="F21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K21" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Depreciation</td>
                            <td></td>
                            <td><vue-numeric v-model="C23" currency="$"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="D23" currency="$"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="E23" currency="$"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric v-model="F23" currency="$"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="G23" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="H23" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="I23" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="J23" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric :value="K23" currency="$" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Amortization </td>
                            <td></td>
                            <td><vue-numeric currency="$" v-model="C24"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="D24"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="E24"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="F24"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G24" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H24" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I24" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J24" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K24" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                       
                        <tr>
                            <td>Interest</td>
                             <td></td>
                            <td><vue-numeric currency="$" v-model="C25"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="D25"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="E25"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="F25"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G25" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H25" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I25" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J25" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K25" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Owner Comp</td>
                            <td></td>
                            <td><vue-numeric currency="$" v-model="C26"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="D26"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="E26"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="F26"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G26" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H26" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I26" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J26" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K26" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Other Addbacks</td>
                            <td></td>
                            <td><vue-numeric currency="$" v-model="C27"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="D27"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="E27"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="F27"  class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G27" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H27" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I27" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J27" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K27" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>


                        <tr>
                            <td>Net Income (before tax)</td>
                            <td></td>
                            <td><vue-numeric currency="$" :value="C29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="D29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="E29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="F29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J29" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K29" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                      
                        <tr>
                            <td>Income Taxes</td>
                            <td><vue-numeric class="form-control-sm form-control" currency="%" currency-symbol-position="suffix" :precision="2" v-model="B30"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="C30" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="D30" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="E30" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" v-model="F30" class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$"  :value="G30" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$"  :value="H30" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$"  :value="I30" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$"  :value="J30" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$"  :value="K30" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Net Income (after tax)</td>
                            <td></td>
                            <td><vue-numeric currency="$" :value="C31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="D31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="E31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="F31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J31" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K31" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                       <tr><th colspan="100%">Estimated Selling Price</th></tr>
                        <tr>
                            <td>SDE Multiplier</td>
                            <td><vue-numeric class="form-control-sm form-control" currency="x" currency-symbol-position="suffix"  :precision="2" v-model="B34"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="C34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="D34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="E34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="F34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J34" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K34" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                        <tr>
                            <td>Revenue Multiplier</td>
                            <td><vue-numeric class="form-control-sm form-control" currency="x" currency-symbol-position="suffix"  :precision="2" v-model="B35"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="C35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="D35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="E35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="F35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="G35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="H35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="I35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="J35" read-only class="form-control-sm form-control"></vue-numeric></td>
                            <td><vue-numeric currency="$" :value="K35" read-only class="form-control-sm form-control"></vue-numeric></td>
                        </tr>
                       
                       
                        </tbody>
                    </table>    
                </div>
         </div>
         <!-- page 2 -->



        <div class="card item mt-2">
            <h4 class="card-title">Debt Service Covenant Ratio</h4>
            <div class="table-responsive">
        
                <table id="table5" class="table table-sm table-special">
                    <thead>
                    <tr>
                        <th>Year</th> <th></th><th>{{parseInt(start_year)+4}}</th> <th>{{parseInt(start_year)+5}}</th> <th>{{parseInt(start_year)+6}}</th> <th>{{parseInt(start_year)+7}}</th> <th>{{parseInt(start_year)+8}}</th>
                    </tr>
                    </thead>
                    <tbody>
                
                <tr>
                    <td>SDE</td>
                    <td></td>
                    <td><vue-numeric :value="G42" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H42" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I42" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J42" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K42" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                
                <tr>
                    <td>Owner Comp</td>
                    <td></td>
                    <td><vue-numeric :value="G43" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H43" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I43" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J43" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K43" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                <tr>
                    <td>CapEx</td>
                    <td></td>
                    <td><vue-numeric :value="G44" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H44" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I44" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J44" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K44" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                <tr>
                    <td>Taxes</td>
                    <td></td>
                    <td><vue-numeric :value="G45" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H45" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I45" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J45" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K45" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                <tr>
                    <th>Cash Available for Debt Services</th>
                    <th></th>
                    <th><vue-numeric :value="G46" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    <th><vue-numeric :value="H46" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    <th><vue-numeric :value="I46" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    <th><vue-numeric :value="J46" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    <th><vue-numeric :value="K46" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                </tr>
                <tr>
                    <td>Debt Service</td>
                    <td></td>
                    <td><vue-numeric :value="G48" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H48" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I48" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J48" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K48" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                <tr>
                    <td>Ratio</td>
                    <td></td>
                    <td><vue-numeric :value="G50" class="form-control form-control-sm" :precision="2" currency="x" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H50" class="form-control form-control-sm" :precision="2" currency="x" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I50" class="form-control form-control-sm" :precision="2" currency="x" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J50" class="form-control form-control-sm" :precision="2" currency="x" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K50" class="form-control form-control-sm" :precision="2" currency="x" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                </tr>

                <tr>
                    <td>Excess Cash</td>
                    <td></td>
                    <td><vue-numeric :value="G51" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H51" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I51" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J51" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K51" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                <tr>
                    <th colspan="100%">Owner Take Home/ROI</th>
                <tr>
                    <td>Salary</td>
                    <td></td>
                    <td><vue-numeric :value="G55" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H55" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I55" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J55" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K55" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>

                <tr>
                    <td>Comp Taxes</td>
                    <td><vue-numeric class="form-control sm" v-model="F56" currency="%" currency-symbol-position="suffix"></vue-numeric></td>
                    <td><vue-numeric :value="G56" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="H56" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="I56" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="J56" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    <td><vue-numeric :value="K56" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                </tr>
                   
                   <tr>
                       <td>Salary After Tax</td>
                       <td></td>
                       <td><vue-numeric :value="G57" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="H57" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="I57" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="J57" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="K57" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                   </tr>
                   <tr>
                       <td>Distributions</td>
                       <td></td>
                       <td><vue-numeric :value="G59" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="H59" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="I59" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="J59" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                       <td><vue-numeric :value="K59" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                   </tr>
                    <tr>
                        <td>Dist. Taxes</td>
                        <td><vue-numeric class="form-control sm" v-model="F60"  currency="%" currency-symbol-position="suffix"></vue-numeric></td>
                    <td><vue-numeric :value="G60" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="H60" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="I60" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="J60" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="K60" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    </tr>
                    <tr>
                        <td>Distributions After Tax</td>
                        <td></td>
                        <td><vue-numeric :value="G61" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="H61" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="I61" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="J61" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="K61" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    </tr>
                    <tr>
                        <th>Total Earnings After Tax</th>
                        <th></th>
                        <th><vue-numeric :value="G63" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="H63" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="I63" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="J63" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="K63" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    </tr>
                    <tr>
                        <td>Current Job Earnings</td>
                        <td></td>
                        <td><vue-numeric :minus="true" v-model="G65" class="form-control form-control-sm" currency="$"  ></vue-numeric></td>
                        <td><vue-numeric :minus="true" v-model="H65" class="form-control form-control-sm" currency="$"  ></vue-numeric></td>
                        <td><vue-numeric :minus="true" v-model="I65" class="form-control form-control-sm" currency="$"  ></vue-numeric></td>
                        <td><vue-numeric :minus="true" v-model="J65" class="form-control form-control-sm" currency="$"  ></vue-numeric></td>
                        <td><vue-numeric :minus="true" v-model="K65" class="form-control form-control-sm" currency="$"  ></vue-numeric></td>
                    </tr>
                    <tr>
                        <td>Current Taxes</td>
                        <td><vue-numeric class="form-control sm" v-model="F66"  currency="%" currency-symbol-position="suffix"></vue-numeric></td>
                   <td><vue-numeric :value="G66" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="H66" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="I66" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="J66" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="K66" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></td>
                    </tr>
                    <tr>
                        <th>Net Increase</th>
                        <th></th>
                        <th><vue-numeric :value="G68" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="H68" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="I68" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="J68" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="K68" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    </tr>
                    <tr>
                        <th>Cumulative Increased Proceeds</th>
                        <th></th>
                        <th><vue-numeric :value="G69" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="H69" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="I69" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="J69" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                        <th><vue-numeric :value="K69" class="form-control form-control-sm" currency="$" read-only  ></vue-numeric></th>
                    </tr>
                    <tr>
                        <td>ROI</td>
                        <td></td>
                        <td><vue-numeric :value="G71" class="form-control form-control-sm" currency="%" :precision="2" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="H71" class="form-control form-control-sm" currency="%" :precision="2" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="I71" class="form-control form-control-sm" currency="%" :precision="2" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="J71" class="form-control form-control-sm" currency="%" :precision="2" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="K71" class="form-control form-control-sm" currency="%" :precision="2" currency-symbol-position="suffix" read-only  ></vue-numeric></td>
                    </tr>
                    <tr>
                        <td>Cash on Cash</td>
                        <td></td>
                        <td><vue-numeric :value="G72" class="form-control form-control-sm" currency="x" currency-symbol-position="suffix" :precision="2" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="H72" class="form-control form-control-sm" currency="x" currency-symbol-position="suffix" :precision="2" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="I72" class="form-control form-control-sm" currency="x" currency-symbol-position="suffix" :precision="2" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="J72" class="form-control form-control-sm" currency="x" currency-symbol-position="suffix" :precision="2" read-only  ></vue-numeric></td>
                        <td><vue-numeric :value="K72" class="form-control form-control-sm" currency="x" currency-symbol-position="suffix" :precision="2" read-only  ></vue-numeric></td>
                    </tr>
                   
                    </tbody>
                </table>
                 <input type="hidden" name="calculations_object"  :value="calculations_object"/>
            </div>
        </div>

         <!-- page3 -->
         <div class="row text-center ">
            <div class="col p-4" style="text-align:center;"> <button @click.prevent="GenPDF()" id="download" class="btn btn-lg btn-danger">Download as PDF</button></div>
             
         </div>
        </div><!-- app -->


       

        </div>

    </div>
</template>

<script>

var ExcelFormulas = {

    PVIF: function (rate, nper) {
        return Math.pow(1 + rate, nper);
    },

    FVIFA: function (rate, nper) {
        return rate == 0 ? nper : (this.PVIF(rate, nper) - 1) / rate;
    },

    PMT: function (rate, nper, pv, fv, type) {
        if (!fv) fv = 0;
        if (!type) type = 0;

        if (rate == 0) return -(pv + fv) / nper;

        var pvif = Math.pow(1 + rate, nper);
        var pmt = rate / (pvif - 1) * -(pv * pvif + fv);

        if (type == 1) {
            pmt /= (1 + rate);
        };

        return pmt;
    },

    IPMT: function (pv, pmt, rate, per) {
        var tmp = Math.pow(1 + rate, per);
        return 0 - (pv * tmp * rate + pmt * (tmp - 1));
    },

    PPMT: function (rate, per, nper, pv, fv, type) {
        if (per < 1 || (per >= nper + 1)) return null;
        var pmt = this.PMT(rate, nper, pv, fv, type);
        var ipmt = this.IPMT(pv, pmt, rate, per - 1);
        return pmt - ipmt;
    },

    DaysBetween: function (date1, date2) {
        var oneDay = 24 * 60 * 60 * 1000;
        return Math.round(Math.abs((date1.getTime() - date2.getTime()) / oneDay));
    },

    // Change Date and Flow to date and value fields you use
    XNPV: function (rate, values) {
        var xnpv = 0.0;
        var firstDate = new Date(values[0].Date);
        for (var key in values) {
            var tmp = values[key];
            var value = tmp.Flow;
            var date = new Date(tmp.Date);
            xnpv += value / Math.pow(1 + rate, this.DaysBetween(firstDate, date) / 365);
        };
        return xnpv;
    },
    RATE: function (periods, payment, present, future, type, guess) {
        guess = (guess === undefined) ? 0.01 : guess;
        future = (future === undefined) ? 0 : future;
        type = (type === undefined) ? 0 : type;

        // Set maximum epsilon for end of iteration
        var epsMax = 1e-10;

        // Set maximum number of iterations
        var iterMax = 10;

        // Implement Newton's method
        var y, y0, y1, x0, x1 = 0,
            f = 0,
            i = 0;
        var rate = guess;
        if (Math.abs(rate) < epsMax) {
            y = present * (1 + periods * rate) + payment * (1 + rate * type) * periods + future;
        } else {
            f = Math.exp(periods * Math.log(1 + rate));
            y = present * f + payment * (1 / rate + type) * (f - 1) + future;
        }
        y0 = present + payment * periods + future;
        y1 = present * f + payment * (1 / rate + type) * (f - 1) + future;
        i = x0 = 0;
        x1 = rate;
        while ((Math.abs(y0 - y1) > epsMax) && (i < iterMax)) {
            rate = (y1 * x0 - y0 * x1) / (y1 - y0);
            x0 = x1;
            x1 = rate;
            if (Math.abs(rate) < epsMax) {
                y = present * (1 + periods * rate) + payment * (1 + rate * type) * periods + future;
            } else {
                f = Math.exp(periods * Math.log(1 + rate));
                y = present * f + payment * (1 / rate + type) * (f - 1) + future;
            }
            y0 = y1;
            y1 = y;
            ++i;
        }
        return rate;
    },

    XIRR: function (values, guess) {
        if (!guess) guess = 0.1;

        var x1 = 0.0;
        var x2 = guess;
        var f1 = this.XNPV(x1, values);
        var f2 = this.XNPV(x2, values);

        for (var i = 0; i < 100; i++) {
            if ((f1 * f2) < 0.0) break;
            if (Math.abs(f1) < Math.abs(f2)) {
                f1 = this.XNPV(x1 += 1.6 * (x1 - x2), values);
            }
            else {
                f2 = this.XNPV(x2 += 1.6 * (x2 - x1), values);
            }
        };

        if ((f1 * f2) > 0.0) return null;

        var f = this.XNPV(x1, values);
        if (f < 0.0) {
            var rtb = x1;
            var dx = x2 - x1;
        }
        else {
            var rtb = x2;
            var dx = x1 - x2;
        };

        for (var i = 0; i < 100; i++) {
            dx *= 0.5;
            var x_mid = rtb + dx;
            var f_mid = this.XNPV(x_mid, values);
            if (f_mid <= 0.0) rtb = x_mid;
            if ((Math.abs(f_mid) < 1.0e-6) || (Math.abs(dx) < 1.0e-6)) return x_mid;
        };

        return null;
    }

};


function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
    function number(n){
        return (isNaN(parseFloat(n)) || !isFinite(n)) ? 0 : parseFloat(n); 
    }



function num(n) {
  return parseFloat(n);
}

export default {
  props: ["url", 'show_download_button'],
  

 data: function(){ return {
                global_readonly:false,
                O6: 25000 ,
                O7: 700000 ,
                O8: 25000 ,
                O9: 150000 ,
                O10: 500000 ,
                O11: 0 ,

                 O14:70000,
                
                O16:25000,
                O17:0,

                
              
                S17:25000,

                Q21:8,
                Q22:7.5,
                Q23:5,

                R21:10,
                R22:25,
                R23:5,

                B7:4,
                C6:  1627828 	 ,
                D6:  1502962 	 ,
                E6:  1548733 	 ,
                F6:  1600000 	 ,

               
             

                C9: 871836,
                D9: 874140,
                E9: 816932,
                F9: 817080,

                B12:49,
                B15:38,
                C19: 9628,
D19: 998.200000000001,
E19: -7.20000000000073,
F19: 538.18,
G19: 500,
H19: 500,
I19: 500,
J19: 500,
K19: 500,

     C23: 23302,
                D23: 25769.88,
                E23: 21102,
                F23: 19073.05,

C24: 0,
D24: 0,
E24: 0,
F24: 0,

C25: 6750.05,
D25: 13852.47,
E25: 15172.69,
F25: 16598.6,

C26: 25000,
D26: 25000,
E26: 25000,
F26: 25000,

C27: 37500,
D27: 37500,
E27: 37500,
F27: 37500,

B30:0,
C30:0,
D30:0,
E30:0,
F30:0,

B34:2.5,
B35:0.45,

G65: -70000,
H65: -70000,
I65: -70000,
J65: -70000,
K65: -70000,

F56:28,
F60:20,
F66:28,


                    //    **********************

                C14: 656556,
                D14: 636132,
                E14: 614993,
                F14: 614379,
               
                B40: 2.5,
                B41: 0.45,
                XO21:0,
                XO21Change: false,
                XO23:0,
                XO22Change: false,
                XO22:0,
                XO23Change: false,
                XB12Change: false,
                XB21Change: false,

                message: ' testing',
                start_year:2015,

                C18: 719055.59,
                D18: 698632.14,
                E18: 677493.33,
                F18: 676879.4,
              
           
             
             
                C32: 0,
                D32: 0,
                E32: 0,
                F32: 0,
                G32: 0,
                H32: 0,
                I32: 0,
                J32: 0,
                K32: 0,

            
              
            
                XB12:49,
                XB21:0,
            };
            },
            created: function () {
                this.XO23 = this.O16;
                this.XO21 = this.O15 - this.O22;
                this.XO22 = this.O10 * 0.9;
                this.XB12 =  100 * ((this.C12 + this.D12 + this.E12 + this.F12) - (this.C23 + this.D23 + this.E23 + this.F23 + this.C33 + this.D33 + this.E33 + this.F33)) / (this.C6 + this.D6 + this.E6 + this.F6);
                this.XB21 = 100 * ((this.C21 + this.D21 + this.E21 + this.F21) - (this.C34 + this.D34 + this.E34 + this.F34)) / (this.C6 + this.D6 + this.E6 + this.F6); 
            },
            computed: {

                calculations_object: function(){
                    return  JSON.stringify(this.$data);
                },

                // O14: function(){ return this.O7*0.1; },
                S14: function(){ return this.O7; },
                O15: function () { return this.S14 + this.S17 - this.O14; },

                O21: function(){ 
                     if (this.XO21Change){
                        return this.XO21; 
                    }else{
                         var temp = this.O15 - this.O22;
                        this.XO21 = temp;
                        return temp;
                    }    
                   
                },
                O22: function(){ 
                     if (this.XO22Change){
                        return this.XO22; 
                    }else{
                         var temp = this.O10 * 0.9;
                         this.Xo22 = temp;
                        return temp;
                    }    
                },

                O23: function(){ 
                    if (this.XO23Change){
                        return this.XO23; 
                    }else{
                        this.XO23 = this.O16;
                        return this.O16;
                    }
                 },

                S15:function(){ return this.O16; },
                S16:function(){ return this.O17; },
              
                S21: function(){ return number(ExcelFormulas.PMT(this.Q21/100, this.R21, -1*this.O21)); },
                S22: function(){ return number(ExcelFormulas.PMT(this.Q22/100, this.R22, -1*this.O22)); },
                S23: function(){ return number(ExcelFormulas.PMT(this.Q23/100, this.R23, -1*this.O23)); },
              
                T21: function(){ return number(this.S21-ExcelFormulas.PPMT(this.Q21/100, 1, this.R21, -1*this.O21)); },
                T22: function(){ return number(this.S22-ExcelFormulas.PPMT(this.Q22/100, 1, this.R22, -1*this.O22)); },
                T23: function(){ return number(this.S23-ExcelFormulas.PPMT(this.Q23/100, 1, this.R23, -1*this.O23)); },

                G6: function () { return this.F6 * (1 + this.B7 / 100); },
                H6: function () { return this.G6 * (1 + this.B7 / 100); },
                I6: function () { return this.H6 * (1 + this.B7 / 100); },
                J6: function () { return this.I6 * (1 + this.B7 / 100); },
                K6: function () { return this.J6 * (1 + this.B7 / 100); },

                C7: function(){ return ''; },
                D7: function(){ return number(100*(this.D6-this.C6)/this.C6);	 },
                E7: function(){ return number(100*(this.E6-this.D6)/this.D6);	 },
                F7: function(){ return number(100*(this.F6-this.E6)/this.E6);	 },
                G7: function(){ return number(100*(this.G6-this.F6)/this.F6);	 },
                H7: function(){ return number(100*(this.H6-this.G6)/this.G6);	 },
                I7: function(){ return number(100*(this.I6-this.H6)/this.H6);	 },
                J7: function(){ return number(100*(this.J6-this.I6)/this.I6);	 },
                K7: function(){ return number(100*(this.K6-this.J6)/this.J6); },

                G9 : function(){ return this.G6-this.G11; },
                H9 : function(){ return this.H6-this.H11; },
                I9 : function(){ return this.I6-this.I11; },
                J9 : function(){ return this.J6-this.J11; },
                K9 : function(){ return this.K6-this.K11; },

             

                C11 : function(){ return (this.C6-this.C9); },
                D11 : function(){ return (this.D6-this.D9); },
                E11 : function(){ return (this.E6-this.E9); },
                F11 : function(){ return (this.F6-this.F9); },
                G11 : function(){ return (this.B12*this.G6/100); },
                H11 : function(){ return (this.B12*this.H6/100); },
                I11 : function(){ return (this.B12*this.I6/100); },
                J11 : function(){ return (this.B12*this.J6/100); },
                K11 : function(){ return (this.B12*this.K6/100); },


                G14: function(){ return this.B15*0.01*this.G6; },
                H14: function(){ return this.B15*0.01*this.H6; },
                I14: function(){ return this.B15*0.01*this.I6; },
                J14: function(){ return this.B15*0.01*this.J6; },
                K14: function(){ return this.B15*0.01*this.K6; },

                C15: function(){ return number(100*this.C14/this.C6	); },
                D15: function(){ return number(100*this.D14/this.D6	); },
                E15: function(){ return number(100*this.E14/this.E6	); },
                F15: function(){ return number(100*this.F14/this.F6	); },
                G15: function(){ return number(100*this.G14/this.G6	); },
                H15: function(){ return number(100*this.H14/this.H6	); },
                I15: function(){ return number(100*this.I14/this.I6	); },
                J15: function(){ return number(100*this.J14/this.J6	); },
                K15: function(){ return number(100*this.K14/this.K6 ); },
               
                C17: function(){ return this.C11-this.C14; },
                D17: function(){ return this.D11-this.D14; },
                E17: function(){ return this.E11-this.E14; },
                F17: function(){ return this.F11-this.F14; },
                G17: function(){ return this.G11-this.G14; },
                H17: function(){ return this.H11-this.H14; },
                I17: function(){ return this.I11-this.I14; },
                J17: function(){ return this.J11-this.J14; },
                K17: function(){ return this.K11-this.K14; },
                
                C21 : function(){ return this.C17+this.C19; },
                D21 : function(){ return this.D17+this.D19; },
                E21 : function(){ return this.E17+this.E19; },
                F21 : function(){ return this.F17+this.F19; },
                G21 : function(){ return this.G17+this.G19; },
                H21 : function(){ return this.H17+this.H19; },
                I21 : function(){ return this.I17+this.I19; },
                J21 : function(){ return this.J17+this.J19; },
                K21 : function(){ return this.K17+this.K19; },
                
                G23 : function(){ return (this.O9/7)+(this.O10/39)	},
                H23 : function(){ return this.G23+(this.O8*1)/7	},
                I23 : function(){ return this.H23+(this.O8*1)/7	},
                J23 : function(){ return this.I23+(this.O8*1)/7	},
                K23 : function(){ return this.J23+(this.O8*1)/7},
                
                G24 : function(){ return this.O11/15; },
                H24 : function(){ return this.O11/15; },
                I24 : function(){ return this.O11/15; },
                J24 : function(){ return this.O11/15; },
                K24 : function(){ return this.O11/15; },
                
                G25 : function(){ return this.T21+this.T22+this.T23	;; },
                H25 : function(){ return this.T21+this.T22+this.T23	;; },
                I25 : function(){ return this.T21+this.T22+this.T23	;; },
                J25 : function(){ return this.T21+this.T22+this.T23	;; },
                K25 : function(){ return this.T21+this.T22+this.T23; ; },
                
                G26 : function(){ return this.O6; },
                H26 : function(){ return this.O6; },
                I26 : function(){ return this.O6; },
                J26 : function(){ return this.O6; },
                K26 : function(){ return this.O6; },
                
                G27 : function(){ return 0; },
                H27 : function(){ return 0; },
                I27 : function(){ return 0; },
                J27 : function(){ return 0; },
                K27 : function(){ return 0; },

                C29 : function(){ return this.C21-(this.C23+this.C24+this.C25+this.C26+this.C27)	;},
                D29 : function(){ return this.D21-(this.D23+this.D24+this.D25+this.D26+this.D27)	;},
                E29 : function(){ return this.E21-(this.E23+this.E24+this.E25+this.E26+this.E27)	;},
                F29 : function(){ return this.F21-(this.F23+this.F24+this.F25+this.F26+this.F27)	;},
                G29 : function(){ return this.G21-(this.G23+this.G24+this.G25+this.G26+this.G27)	;},
                H29 : function(){ return this.H21-(this.H23+this.H24+this.H25+this.H26+this.H27)	;},
                I29 : function(){ return this.I21-(this.I23+this.I24+this.I25+this.I26+this.I27)	;},
                J29 : function(){ return this.J21-(this.J23+this.J24+this.J25+this.J26+this.J27)	;},
                K29 : function(){ return this.K21-(this.K23+this.K24+this.K25+this.K26+this.K27);},
                
                G30: function(){ return this.G29*this.B30*0.01;},
                H30: function(){ return this.H29*this.B30*0.01;},
                I30: function(){ return this.I29*this.B30*0.01;},
                J30: function(){ return this.J29*this.B30*0.01;},
                K30: function(){ return this.K29*this.B30*0.01;},
                
                
                C31: function(){ return this.C29-this.C30; },
                D31: function(){ return this.D29-this.D30; },
                E31: function(){ return this.E29-this.E30; },
                F31: function(){ return this.F29-this.F30; },
                G31: function(){ return this.G29-this.G30; },
                H31: function(){ return this.H29-this.H30; },
                I31: function(){ return this.I29-this.I30; },
                J31: function(){ return this.J29-this.J30; },
                K31: function(){ return this.K29-this.K30; },
               
                C34: function(){ return this.B34*this.C21; },
                D34: function(){ return this.B34*this.D21; },
                E34: function(){ return this.B34*this.E21; },
                F34: function(){ return this.B34*this.F21; },
                G34: function(){ return this.B34*this.G21; },
                H34: function(){ return this.B34*this.H21; },
                I34: function(){ return this.B34*this.I21; },
                J34: function(){ return this.B34*this.J21; },
                K34: function(){ return this.B34*this.K21; },
             
                C35: function(){ return this.B35*this.C6; },
                D35: function(){ return this.B35*this.D6; },
                E35: function(){ return this.B35*this.E6; },
                F35: function(){ return this.B35*this.F6; },
                G35: function(){ return this.B35*this.G6; },
                H35: function(){ return this.B35*this.H6; },
                I35: function(){ return this.B35*this.I6; },
                J35: function(){ return this.B35*this.J6; },
                K35: function(){ return this.B35*this.K6; },

        
                C12 : function(){ return number(100*this.C11/this.C6)	; },
                D12 : function(){ return number(100*this.D11/this.D6)	; },
                E12 : function(){ return number(100*this.E11/this.E6)	; },
                F12 : function(){ return number(100*this.F11/this.F6)	; },
                G12 : function(){ return number(100*this.G11/this.G6)	; },
                H12 : function(){ return number(100*this.H11/this.H6)	; },
                I12 : function(){ return number(100*this.I11/this.I6)	; },
                J12 : function(){ return number(100*this.J11/this.J6)	; },
                K12 : function(){ return number(100*this.K11/this.K6); },
                
                
G42: function(){ return this.G21; },
H42: function(){ return this.H21; },
I42: function(){ return this.I21; },
J42: function(){ return this.J21; },
K42: function(){ return this.K21; },

G43: function(){ return this.G26; },
H43: function(){ return this.H26; },
I43: function(){ return this.I26; },
J43: function(){ return this.J26; },
K43: function(){ return this.K26; },

G44: function(){ return this.O8; },
H44: function(){ return this.O8; },
I44: function(){ return this.O8; },
J44: function(){ return this.O8; },
K44: function(){ return this.O8; },

G45: function(){ return this.G30; },
H45: function(){ return this.H30; },
I45: function(){ return this.I30; },
J45: function(){ return this.J30; },
K45: function(){ return this.K30; },

G46: function(){ return this.G42-(this.G43+this.G44+this.G45); },
H46: function(){ return this.H42-(this.H43+this.H44+this.H45); },
I46: function(){ return this.I42-(this.I43+this.I44+this.I45); },
J46: function(){ return this.J42-(this.J43+this.J44+this.J45); },
K46: function(){ return this.K42-(this.K43+this.K44+this.K45); },

G48: function(){ return this.S21+this.S22+this.S23; },
H48: function(){ return this.G48; },
I48: function(){ return this.H48; },
J48: function(){ return this.I48; },
K48: function(){ return this.J48; },

G50: function(){ return number(this.G46/this.G48); },
H50: function(){ return number(this.H46/this.H48); },
I50: function(){ return number(this.I46/this.I48); },
J50: function(){ return number(this.J46/this.J48); },
K50: function(){ return number(this.K46/this.K48); },

G51: function(){ return this.G46-this.G48; },
H51: function(){ return this.H46-this.H48; },
I51: function(){ return this.I46-this.I48; },
J51: function(){ return this.J46-this.J48; },
K51: function(){ return this.K46-this.K48; },


G55: function(){ return this.O6; },
H55: function(){ return this.O6; },
I55: function(){ return this.O6; },
J55: function(){ return this.O6; },
K55: function(){ return this.O6; },

G56: function(){ return this.G55*this.F56*0.01; },
H56: function(){ return this.H55*this.F56*0.01; },
I56: function(){ return this.I55*this.F56*0.01; },
J56: function(){ return this.J55*this.F56*0.01; },
K56: function(){ return this.K55*this.F56*0.01; },

G57: function(){ return this.G55-this.G56; },
H57: function(){ return this.H55-this.H56; },
I57: function(){ return this.I55-this.I56; },
J57: function(){ return this.J55-this.J56; },
K57: function(){ return this.K55-this.K56; },

G59: function(){ return this.G51; },
H59: function(){ return this.H51; },
I59: function(){ return this.I51; },
J59: function(){ return this.J51; },
K59: function(){ return this.K51; },

G60: function(){ return this.G59*this.F60*0.01; },
H60: function(){ return this.H59*this.F60*0.01; },
I60: function(){ return this.I59*this.F60*0.01; },
J60: function(){ return this.J59*this.F60*0.01; },
K60: function(){ return this.K59*this.F60*0.01; },

G61: function(){ return this.G59-this.G60; },
H61: function(){ return this.H59-this.H60; },
I61: function(){ return this.I59-this.I60; },
J61: function(){ return this.J59-this.J60; },
K61: function(){ return this.K59-this.K60; },

G63: function(){ return this.G61+this.G57; },
H63: function(){ return this.H61+this.H57; },
I63: function(){ return this.I61+this.I57; },
J63: function(){ return this.J61+this.J57; },
K63: function(){ return this.K61+this.K57; },

G66: function(){ return this.G65*-this.F66*0.01; },
H66: function(){ return this.H65*-this.F66*0.01; },
I66: function(){ return this.I65*-this.F66*0.01; },
J66: function(){ return this.J65*-this.F66*0.01; },
K66: function(){ return this.K65*-this.F66*0.01; },

G68: function(){ return this.G55+this.G59-this.G56-this.G60+this.G65+this.G66; },
H68: function(){ return this.H55+this.H59-this.H56-this.H60+this.H65+this.H66; },
I68: function(){ return this.I55+this.I59-this.I56-this.I60+this.I65+this.I66; },
J68: function(){ return this.J55+this.J59-this.J56-this.J60+this.J65+this.J66; },
K68: function(){ return this.K55+this.K59-this.K56-this.K60+this.K65+this.K66; },

G69: function(){ return this.G68	; },
H69: function(){ return this.H68+this.G69; },
I69: function(){ return this.I68+this.H69; },
J69: function(){ return this.J68+this.I69; },
K69: function(){ return this.K68+this.J69; },

G71: function(){ return ExcelFormulas.RATE(1, 0, -1*this.O14, this.G69); },
H71: function(){ return ExcelFormulas.RATE(2, 0, -1*this.O14, this.H69); },
I71: function(){ return ExcelFormulas.RATE(3, 0, -1*this.O14, this.I69); },
J71: function(){ return ExcelFormulas.RATE(4, 0, -1*this.O14, this.J69); },
K71: function(){ return ExcelFormulas.RATE(5, 0, -1*this.O14, this.K69); },

G72: function(){ return number(this.G69/this.O14); },
H72: function(){ return number(this.H69/this.O14); },
I72: function(){ return number(this.I69/this.O14); },
J72: function(){ return number(this.J69/this.O14); },
K72: function(){ return number(this.K69/this.O14); },




            },
            methods:{
                Test: function(){
                    this.global_readonly = false;
                },
                GenPDF: function(){
                    var y=0;
                    var doc = new jsPDF();


                    doc.addImage(imgData, "PNG", 90, 5,30,20);
                    doc.setFontSize(10);

                    doc.text("Assumptions",14,30);
                        // You can use html:
                    
                    doc.autoTable({   
                        html: '#table1',
                        styles: { cellPadding: 0.1, fontSize: 8 },
                        startY: 32, 
                        didParseCell: function(data){
                            var x = $(data.cell.raw).find('input').val();
                            data.cell.text = x == undefined? data.cell.text: x;
                        }
                    });

                    doc.text("Sources and Uses", 14, doc.autoTable.previous.finalY + 5);
                     y = doc.autoTable.previous.finalY + 6;
                    doc.autoTable({
                        html: '#table2',
                        styles: { cellPadding: 0.1, fontSize: 8 },
                        startY: y,
                        didParseCell: function (data) {
                            var x = $(data.cell.raw).find('input').val();
                            data.cell.text = x == undefined ? data.cell.text : x;
                        }
                    });
                    doc.text("Debt Assumptions", 14, doc.autoTable.previous.finalY + 5);
                     y = doc.autoTable.previous.finalY + 6;
                    doc.autoTable({
                        html: '#table3',
                        styles: { cellPadding: 0.1, fontSize: 8 },
                        startY: y,
                        didParseCell: function (data) {
                            var x = $(data.cell.raw).find('input').val();
                            data.cell.text = x == undefined ? data.cell.text : x;
                        }
                    });
                    doc.text("SDE Calculation", 14, doc.autoTable.previous.finalY + 5);
                     y = doc.autoTable.previous.finalY + 6;
                    doc.autoTable({
                        html: '#table4',
                        styles: { cellPadding: 0.1, fontSize: 8 },
                        startY: y,
                        didParseCell: function (data) {
                            var x = $(data.cell.raw).find('input').val();
                            data.cell.text = x == undefined ? data.cell.text : x;
                        }
                    });
                    doc.text("Debt Service Covenant Ratio", 14, doc.autoTable.previous.finalY + 5);
                     y = doc.autoTable.previous.finalY + 6;
                    doc.autoTable({
                        html: '#table5',
                        styles: { cellPadding: 0.1, fontSize: 8 },
                        startY: y,
                        didParseCell: function (data) {
                            var x = $(data.cell.raw).find('input').val();
                            data.cell.text = x == undefined ? data.cell.text : x;
                        }
                    });


                  
                        doc.save('Deal Calculator.pdf');
                   
                   
                },
                reset: function(){
                 this.O6=0;this.O7=0;this.O8=0;this.O9=0;this.O10=0;this.O11=0;this.O14=0;this.O16=0;this.O17=0;this.S17=0;this.Q21=0;this.Q22=0;this.Q23=0;this.R21=0;this.R22=0;this.R23=0;this.B7=0;this.C6=0;this.D6=0;this.E6=0;this.F6=0;this.C9=0;this.D9=0;this.E9=0;this.F9=0;this.B12=0;this.B15=0;this.C19=0;this.D19=0;this.E19=0;this.F19=0;this.G19=0;this.H19=0;this.I19=0;this.J19=0;this.K19=0;this.C23=0;this.D23=0;this.E23=0;this.F23=0;this.C24=0;this.D24=0;this.E24=0;this.F24=0;this.C25=0;this.D25=0;this.E25=0;this.F25=0;this.C26=0;this.D26=0;this.E26=0;this.F26=0;this.C27=0;this.D27=0;this.E27=0;this.F27=0;this.B30=0;this.C30=0;this.D30=0;this.E30=0;this.F30=0;this.B34=0;this.B35=0;this.G65=0;this.H65=0;this.I65=0;this.J65=0;this.K65=0;this.F56=0;this.F60=0;this.F66=0;this.C14=0;this.D14=0;this.E14=0;this.F14=0;this.B40=0;this.B41=0;this.XO21=0;this.XO23=0;this.XO22=0;this.C18=0;this.D18=0;this.E18=0;this.F18=0;this.C32=0;this.D32=0;this.E32=0;this.F32=0;this.G32=0;this.H32=0;this.I32=0;this.J32=0;this.K32=0;this.XB12=0;this.XB21=0;this.XO21Change= false;this.XO22Change= false;this.XO23Change= false;this.XB12Change= false;this.XB21Change= false;

                }
            }, //methods  
            mounted() {
                console.log("Component mounted.");
                // if(this.show_download_button == undefined){
                // this.show_download_button = false;
                // }
                if (this.url) {
                var self = this;
                axios.get(this.url).then(function(response) {


                    var newdata = JSON.parse(response.data.calculations_object);
                    // console.warn('newdata',newdata);
                    Object.keys(self.$data).forEach(key => self.$data[key] = null);
                        // set all properties from newdata into data
                    Object.entries(newdata).forEach(entry => Vue.set(self.$data, entry[0], entry[1]));

                    // console.log(response.data);
                    // self.estimate = JSON.parse(response.data.calculations_object);
                    // self.buyer_number = response.data.buyer_number;
                    // self.customer_name = response.data.customer_name;
                    // self.customer_address = response.data.customer_address;
                    // self.customer_city = response.data.customer_city;
                    // self.customer_state = response.data.customer_state;
                });
                }
            }
};
</script>

<style scoped>
   body {
         /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
         background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);

        }

        .text-brand {
            color: #c9032f;
        }

        .bg-brand {
            background-color: #c9032f;
        }

        .table>tbody>tr>td {
            vertical-align: middle;
        }
        .table>tbody>tr>th {
            vertical-align: middle;
        }

   


        .label {
            font-weight: bold;
            border-top: 1px solid silver;
        }

        .labels-col{
            min-width: 200px;
        }

        .bg-pink{
            background: pink !important;
        }
        .bg-green{
            background: lightgreen !important;
        }

    
        .table-special td, .form-control-sm{
            font-size:.855rem;
        }

        .highlight{
            background: lightcyan;
        }

        #page-2 td{
            width:100px;
        }
</style>