<template>

    <div class="mb-5">
        <div class="well" id="wrapper-email">
            <div class="wrap-email" id="email-default">
                <center>
                    <h1 style="text-align: center;">LETTER OF INTENT TO PURCHASE</h1>
                </center>
                <p>Date:
                    <strong>{{created_at}}</strong>
                </p>
                <p>Name:
                    <strong>{{seller_name}}</strong>
                </p>
                <p>Address:
                    <strong>{{seller_address}}</strong>
                        <!-- <br>Portsmouth, VA, 23707</strong> -->
                </p>
                <p>Thank you for the opportunity to review and consider your property. Based off the information that you shared
                    with me and what I was able to gather on my own from the local market conditions, I am prepared to purchase
                    your property in one of the following ways:</p>
                <hr>
                <h4>Option 1</h4>
                <p>Purchase Price:
                    <strong>$ {{formatAmount(option1__cash_at_closing)}}</strong> All Cash</p>
                <hr>
                <h4>Option 2</h4>
                <p>Purchase Price:
                    <strong>$ {{formatAmount(option2__purchase_price)}}</strong>
                </p>
                <p>Down Payment:
                    <strong>$ {{formatAmount(option2__down_payment)}}</strong>
                </p>
                <p>Terms for Remaining Balance: Seller to carry back balance
                    <strong>{{formatAmount(option2__interest_rate)}}</strong> % APR. Interest Only monthly payments of
                    <strong>$ {{formatAmount(option2__monthly_payment)}}</strong> with full balance of
                    <strong>$ {{formatAmount(option2__baloon_payment)}}</strong> due in
                    <strong>{{formatAmount(option2__baloon_payment_due)}}</strong> years.</p>
                <hr>
                <h4>OPTION 3</h4>
                <p>Purchase Price:
                    <strong>$ {{formatAmount(option3__purchase_price)}}</strong>
                </p>
                <p>Down Payment:
                    <strong>$ {{formatAmount(option3__down_payment)}}</strong>
                </p>
                <p>Terms for Remaining Balance:
                    <strong>{{formatAmount(option3__no_monthly_payments)}}</strong> monthly payments of
                    <strong>$ {{formatAmount(option3__monthly_payment)}}</strong>.</p>
                <hr>
                <p>To close in 14 days or less, all we need to confirm is the current status of any encumbrances and repairs.</p>
                <p>Seller(s) Acceptance: ___________________________________________________________</p>
                <p>Seller(s) Acceptance: ___________________________________________________________ </p>
                <p>Upon acceptance, or if you have any questions, Call Courtney &amp; Ivan at 7579327432</p>
            </div>
        </div>
    </div>
</template>

<script>
    function num(n) {
        return parseFloat(n);
    }

    export default {
        methods: {
            round2: function (n) {
                return Math.round(n * 100) / 100;
            },
            formatAmount(value) {
                let val = this.round2(value);// (value / 1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

            populateData: function () {
                var self = this;
                axios.get(this.url).then(function (response) {
                    console.log(response.data);
                    
                    self.id = response.data.id;
                    self.created_at = response.data.created_at;
                    self.seller_name = response.data.seller_name;
                    self.seller_address = response.data.seller_address;
                    self.seller_city = response.data.seller_city;
                    self.seller_state = response.data.seller_state;
                    self.seller_zip = response.data.seller_zip;
                    self.comparable1 = response.data.comparable1;
                    self.comparable2 = response.data.comparable2;
                    self.comparable3 = response.data.comparable3;
                    self.after_repair_value = response.data.after_repair_value;
                    self.option1__discount = response.data.option1__discount;
                    self.option1__square_footage = response.data.option1__square_footage;
                    self.option1__repair_price_per_sft =
                        response.data.option1__repair_price_per_sft;
                    self.option1__gross_monthly_rent =
                        response.data.option1__gross_monthly_rent;
                    self.option1__desired_profit = response.data.option1__desired_profit;

                    self.option2__discount = response.data.option2__discount;
                    self.option2__down_payment = response.data.option2__down_payment;
                    self.option2__interest_rate = response.data.option2__interest_rate;
                    self.option2__baloon_payment_due =
                        response.data.option2__baloon_payment_due;

                    self.option3__discount = response.data.option3__discount;
                    self.option3__down_payment = response.data.option3__down_payment;
                    self.option3__no_monthly_payments =
                        response.data.option3__no_monthly_payments;
                });
            }
        },
        props: ["url"],
        data: function () {
            return {
                id: "",
                created_at:'',
                seller_name: "",
                seller_address: "",
                seller_city: "",
                seller_state: "",
                seller_zip: "",
                comparable1: "",
                comparable2: "",
                comparable3: "",
                after_repair_value: "",
                option1__discount: "",
                option1__square_footage: "",
                option1__repair_price_per_sft: "",
                option1__gross_monthly_rent: "",
                option1__desired_profit: "",

                option2__discount: "",
                option2__down_payment: "",
                option2__interest_rate: "",
                option2__baloon_payment_due: "",

                option3__discount: "",
                option3__down_payment: "",
                option3__no_monthly_payments: ""
            };
        },
        computed: {
            test: function () {
                return "computed test";
            },
            option1__monthly_net_rent: function () {
                return num(this.option1__gross_monthly_rent) * 0.6;
            },
            option1__repair_cost: function () {
                return (
                    num(this.option1__square_footage) *
                    num(this.option1__repair_price_per_sft)
                );
            },
            option1__max_allowable_offer: function () {
                return (
                    num(this.after_repair_value) * 0.7 -
                    num(this.option1__repair_cost) -
                    num(this.option1__desired_profit)
                );
            },
            option1__cash_required: function () {
                return (
                    num(this.option1__max_allowable_offer) + num(this.option1__repair_cost)
                );
            },
            option1__croi: function () {
                return (
                    100 *
                    num(this.option1__monthly_net_rent) *
                    12 /
                    num(this.option1__cash_required)
                );
            },
            option1__cash_at_closing: function () {
                return num(this.option1__max_allowable_offer);
            },

            option2__purchase_price: function () {
                return (
                    this.after_repair_value * (this.option2__discount / 100) -
                    this.option1__square_footage * this.option1__repair_price_per_sft
                );
            },
            option2__annual_net_rent: function () {
                return this.option1__monthly_net_rent * 12;
            },
            option2__annual_debt_service: function () {
                return (
                    this.option2__purchase_price *
                    (1 - this.option2__down_payment / 100) *
                    (this.option2__interest_rate / 100)
                );
            },
            option2__annual_cads: function () {
                return this.option2__annual_net_rent - this.option2__annual_debt_service;
            },
            option2__cash_in: function () {
                return (
                    this.option2__down_payment / 100 * this.option2__purchase_price +
                    this.option1__repair_cost
                );
            },
            option2__croi: function () {
                return 100 * this.option2__annual_cads / this.option2__cash_in;
            },
            option2__debt_servcie_coverage: function () {
                return (
                    this.option1__monthly_net_rent * 12 / this.option2__annual_debt_service
                );
            },
            option2__cash_at_closing: function () {
                return this.option2__purchase_price * (this.option2__down_payment / 100);
            },
            option2__monthly_payment: function () {
                return this.option2__annual_debt_service / 12;
            },
            option2__baloon_payment: function () {
                return (
                    this.option2__purchase_price * (1 - this.option2__down_payment / 100)
                );
            },

            option3__purchase_price: function () {
                return (
                    this.after_repair_value * this.option3__discount / 100 -
                    this.option1__square_footage * this.option1__repair_price_per_sft
                );
            },
            option3__annual_net_rent: function () {
                return this.option1__monthly_net_rent * 12;
            },
            option3__annual_debt_service: function () {
                return (
                    this.option3__purchase_price *
                    (1 - this.option3__down_payment / 100) /
                    300 *
                    12
                );
            },
            option3__annual_cads: function () {
                return this.option3__annual_net_rent - this.option3__annual_debt_service;
            },
            option3__cash_in: function () {
                return (
                    this.option3__purchase_price * (this.option3__down_payment / 100) +
                    this.option1__square_footage * this.option1__repair_price_per_sft
                );
            },
            option3__croi: function () {
                return 100 * this.option3__annual_cads / this.option3__cash_in;
            },
            option3__debt_servcie_coverage_ratio: function () {
                return this.option3__annual_net_rent / this.option3__annual_debt_service;
            },
            option3__cash_at_closing: function () {
                return this.option3__purchase_price * (this.option3__down_payment / 100);
            },
            option3__monthly_payment: function () {
                return (
                    this.option3__purchase_price *
                    (1 - this.option3__down_payment / 100) /
                    this.option3__no_monthly_payments
                );
            }
        },
        watch: {
            url: function (newVal, oldVal) {
                console.warn("prop changed", oldVal, newVal);
                this.populateData();
            }
        },
        mounted() {
            console.log("Preview Component mounted.");
            console.log(this.url);
            if (this.url) {
                this.populateData();
            }
        }
    };
</script>